


.header-table{
    background-color: #6878DF;
}

.colortdgris{
    background-color: #c4c4c4;
    border-bottom: 1px solid #000000;
}

.colortdblanco{
    background-color:   #fffff0;
    border-bottom: 1px solid #000000;
}